@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(35, 35, 35);
    overflow: hidden;
}

#settingsTab{
    position: relative;
    top: -1.3rem;
    left: -0.5rem;
    background-color: rgb(23, 23, 23);
    width: 96rem;
    height: 10rem;
    box-shadow: 0px 15px 10px rgb(23, 23, 23);
}

#stngsTxt{
    color: white;
    font-family: "Roboto Condensed";
    padding: 10px;
    padding-top: 20px;
}

.text{
    color: white;
    font-family: "Roboto Condensed";
}

.inputBtns{
    position: relative;
    top: 0.1rem;
    left: 0.2rem;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1rem;
    color: black;
    font-family: "Roboto Condensed";
    font-weight: bold;

    cursor: pointer;
}

#verDisplay{
    position: absolute;
    top: 40rem;
    left: 91rem;
    color: rgba(255, 255, 255, 0.555);
}